In [1]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6])
print(arr[1:4])

[2 3 4]

In [2]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})
print(df.loc[1:3])
print(df.iloc[:, 0])

   A  B
1  2  6
2  3  7
3  4  8
0    1
1    2
2    3
3    4
Name: A, dtype: int64

In [4]:
import sqlite3
con = sqlite3.connect(":memory:")
cursor = con.cursor()
cursor.execute("CREATE TABLE users (id INTEGER PRIMARY KEY, name TEXT)")
cursor.execute("INSERT INTO users (name) VALUES ('Alice'), ('Bob')")
con.commit()
cursor.execute("SELECT * FROM users")
print(cursor.fetchall())

[(1, 'Alice'), (2, 'Bob')]

In [6]:
cursor.execute("INSERT INTO users (name) VALUES ('Charlie')")
con.commit()

In [7]:
cursor.execute("CREATE TABLE orders (id INTEGER PRIMARY KEY, user_id INTEGER, product TEXT)")
cursor.execute("INSERT INTO orders (user_id, product) VALUES (1, 'Laptop'), (2, 'Phone')")
con.commit()

cursor.execute("""
    SELECT users.name, orders.product
    FROM users
    JOIN orders ON users.id = orders.user_id
""")
print(cursor.fetchall())

[('Alice', 'Laptop'), ('Bob', 'Phone')]

In [8]:
df = pd.DataFrame({'A': [1, 2, 2, 3], 'B': ['X', 'Y', 'Y', 'Z']})
duplicates = df[df.duplicated()]
print(duplicates)

   A  B
2  2  Y

In [9]:
cursor.execute("SELECT * FROM users WHERE name = 'Alice'")
print(cursor.fetchall())

[(1, 'Alice')]

In [10]:
cursor.execute("DELETE FROM users")
con.commit()

In [12]:
cursor.execute("DELETE FROM users WHERE name='Bob'")
con.commit()

In [13]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    def display_info(self):
        print(f"Car: {self.brand} {self.model}")
car1 = Car("Toyota", "Camry")
car1.display_info()

Car: Toyota Camry

In [14]:
class Vehicle:
    def __init__(self, brand):
        self.brand = brand
    def show_brand(self):
        print(f"Brand: {self.brand}")
class Car(Vehicle):
    def __init__(self, brand, model):
        super().__init__(brand)
        self.model = model
    def show_model(self):
        print(f"Model: {self.model}")
car2 = Car("Honda", "Civic")
car2.show_brand()
car2.show_model()

Brand: Honda
Model: Civic

In [15]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance
    def deposit(self, amount):
        self.__balance += amount
    def get_balance(self):
        return self.__balance
account = BankAccount(1000)
account.deposit(500)
print(account.get_balance())

1500

In [16]:
class Animal:
    def speak(self):
        pass
class Dog(Animal):
    def speak(self):
        return "Woof!"
class Cat(Animal):
    def speak(self):
        return "Meow!"
animals = [Dog(), Cat()]
for animal in animals:
    print(animal.speak())

Woof!
Meow!

In [17]:
from abc import ABC, abstractmethod
class Shape(ABC):
    @abstractmethod
    def area(self):
        pass
class Square(Shape):
    def __init__(self, side):
        self.side = side
    def area(self):
        return self.side * self.side
sq = Square(4)
print(sq.area())

16